.parentdiv{
    width: 200px;
    height: 200px;
}
carrer1{
    background-color: blue
}
carrer2{
    background-color: yellow;
}
carrer3{
    background-color: violet;
}
carrer4{
    background-color: teal;
}
